table{
    margin-top: 30px;
    margin-left: 20px;
    border-collapse: collapse;
    width: 80%;
}
table,th,td{
    border: 2px solid;
    padding: 10px;
}
th,td{
    padding: 10px;
}

#menu{
    background-color: #e15a5a;
}

nav ul li a{
    color: white;
    text-decoration: underline;
}
input{
    border: 1px solid black;
}

.akatsa{
    color: red;
}
